@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Dancing+Script&display=swap');

.resath1 {
  width:200px;
  height:110px;
  background-image:url(https://i.imgur.com/6Qspldp.gif)} 

.resath2 {
  width:200px;
  height:110px;
  background-image:url(https://i.ibb.co/Scq1zd3/sparl.gif)} 

.resath3 {
  width:200px;
  height:110px;
  background-image:url(https://i.imgur.com/0vO1Pnx.gif};}
