.road {
width:120px;
font:14px Gupter;
color:#1D94A6;
text-align:center;} 

.ando {
width:120px;
height:4px;
background-color:#333300;} 

.load {
width:120px;
height:4px;
background-color:#333300;
text-align:center;
font:30px Nova Cut;
color:#1D94A6;} 

.hahu {
width:182px;
height:120px;}
