#ilia5 
{width: 100px;
height: 100px;
border-style: solid;
border-width: 2px;
border-color: #e0a694;
-moz-transform:rotate(-6deg);
-webkit-transform:rotate(-6deg);}

#ilia6
{width: 100px;
height: 100px;
border: 2px solid #e0a694;
-moz-transform:rotate(6deg);
-webkit-transform:rotate(6deg);
margin-top: -10px;}

#ilia7
{width: 100px;
height: 100px;
border: 2px solid #e0a694;
-moz-transform:rotate(13deg);
-webkit-transform:rotate(13deg);
margin-top: -200px;
margin-left: 170px;}

#ilia8
{width: 100px;
height: 100px;
border: 2px solid #e0a694;
-moz-transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
margin-left: 180px;
margin-top:-10px;}
