@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.athram {
width: 170px;
height: 130px;
border-width: 5px;
border-style: groove;
border-color: #AC83C4 #9370DB #9370DB #AC83C4;}
